<div class="container mt-5">

  <div class="row">

    <div class="col-12 col-lg-8">

      <div class="rounded bg-white mb-3">
        <%= cl_image_tag @artwork.photo.key, class: "artwork-img w-100"  %>
        <div class="p-3">
          <div class="d-flex justify-content-between align-items-start">
            <div>
              <h3><%= @artwork.title %></h3>
              <p><%= @artwork.user.email %></p>
            </div>
            <h4><%= @artwork.price_per_hour %> Eur</h4>
          </div>
          <p class="light-p"><%= @artwork.description %></p>
        </div>
      </div>

    </div>

    <div class="col-12 col-lg-4">

        <div class="art-card-show bg-white">
          <%= simple_form_for [ @artwork, @transaction ] do |f| %>
            <%= f.input :start_date, as: :string, placeholder: "dd/mm/yyyy" %>
            <%= f.input :end_date, as: :string, placeholder: "dd/mm/yyyy" %>
            <%= f.submit "Book", class: "btn btn-dark" %>
          <% end %>
        </div>

        <div class="rounded bg-white mb-3">
          <div id="map"
            style="width: 100%; height: 400px; margin-top: 20px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
        </div>

    </div>
  </div>
</div>
