<div class="container">

  <div class="row">
    <!-- cl_image_tag transaction.artwor, class: "artwork-img w-100" -->
  </div>

  <div class="container">
    <h3>Pending</h3>
      <div class="pendingtransactions">
           <% @pending_transactions.each do |transaction| %>
           <div class="d-flex justify-content-between mb-3">
            <div>
              <h3> <%= transaction.artwork.title %> </h3>
              <p class="card-text"> <strong>From:</strong> <%= transaction.start_date %> <strong>To:</strong> <%= transaction.end_date %></p>
            </div>


            <% if transaction.confirmation == 'pending' %>
              <div class="d-flex">
              <%= link_to 'Accept', transaction_accept_path(transaction) , class: "btn btn-light btn-sm btnloggedin" %>
              <%= link_to 'Reject', transaction_reject_path(transaction) , class: "btn btn-light btn-sm btnloggedin" %>
              </div>
            <% end %>
     </div>
     <% end %>
    </div>
  </div>
  <div class="container mt-5">

    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h3> Artwork sold</h3>
          <% @sold_transactions.each do |transaction| %>
          <div class="art-card fixed-height-two">
            <div class="transaction">
              <p class="card-text"> <strong>From:</strong> <%= transaction.start_date %> <strong>To:</strong> <%= transaction.end_date %></p>
              <p><%=transaction.artwork.title%></p>
            </div>
          </div>
          <% end %>
      </div>

         <div class="col-lg-6 col-sm-12">
          <h3> Artwork bought</h3>
          <% @buy_transactions.each do |transaction| %>
          <div class="art-card fixed-height-two">
            <div class="transaction">
              <p class="card-text"> <strong>From:</strong> <%= transaction.start_date %> <strong>To:</strong> <%= transaction.end_date %></p>
              <p><%=transaction.artwork.title%></p>
              <small><%= transaction.confirmation %> </small>
            </div>
          </div>
          <% end %>
      </div>

      </div>
  </div>
  </div>
